.swiper-outer {
    overflow-x: hidden;
}

.swiper-outer .swiper-wrapper {
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.swiper-outer .swiper-slide {
    max-width: 160px;
}

.feed-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.feed-item__image {
    border-radius: 50%;
    width: 92px;
    height: 92px;

    @media screen and (min-width: 1280px) {
        width: 148px;
        height: 148px;
    }
}

.feed-item__title {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
    width: 100%;
    height: 100%;
}

.close {
    order: 2;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.swiper-modal .swiper-wrapper {
    align-items: center;
}

.swiper-modal .swiper-slide:not(.swiper-slide-active) {
    background-position: center;
    background-size: cover;
    width: 20%;
    height: 60%;
}

.swiper-modal .swiper-slide img {
    width: 100%;
    height: 100%;
}

.swiper-modal .swiper-slide-active {
    width: 20%;
    height: 80%;
}